streamlit
langchain
langchain_community
langchain_core
langchain_chroma
langchain_groq
langchain_huggingface
langchain_text_splitters
python-dotenv
protobuf==3.20.3
opentelemetry-exporter-otlp==1.22.0
chromadb
